.app {
    background-color: var(--body-bg);
}

.app .left-section ,
.app .main-section {
    border-radius: 12px ;
    background-color: var(--card-bg);
}

.app .left-section {
    color : var(--main-text);
}

.app .left-section nav ul li::before {
    content:"";
    bottom : 50%; 
    transform: translateX(-100%);
    width : 5px ;
    height : 0px ;
    transition: all 0.3s ease ;
    background-color: var(--svg-active);
    border-radius: 0px 4px 4px 0px;
}

.app .left-section nav ul li.active::before {
    height : 25px ;
}

.app .left-section nav ul li svg {
    color : var(--pure-text);
}

.app .left-section nav ul li.active svg {
    color : var(--svg-active);
}

.app .left-section nav ul li , 
.app .left-section .tags ul li ,
.app .filter-menu ul li {
    position: relative;
    transition: 0.3s ;
    cursor: pointer;
    border-radius: 12px ;
    text-shadow: 2px 1px 1px  var(--main-shadow);
}

.app .left-section nav ul li:hover , 
.app .left-section .tags ul li:hover , 
.app .filter-menu ul li:hover {
    background-color: var(--main-shadow);
}

.app .left-section nav ul li:active ,
.app .left-section .tags ul li:active ,
.app .filter-menu ul li:active  {
    transition: 0s;
    transform: scale(0.95);
    background-color: rgba(0, 0, 0, 0.603);
}

.app .left-section nav ul li button , 
.app .left-section .tags ul li button {
    cursor: pointer;
    border : none ;
    background-color: transparent ;
    color : var(--main-text);
}

.app .left-section .tags button.new-tag {
    border : none ;
}

/* left section ^-^ */

.app .main-section .top-card , 
.app .main-section .main-card {
    border-radius: 12px ;
    background-color: var(--card-bg);
}

.app .main-section .top-card .search-box {
    background-color: var(--card-bg);
    box-shadow: 0px 3px 5px 1px var(--main-shadow);
    border-radius: 12px ;
}

.app .main-section .top-card .search-box {
    color : var(--main-text);
}

.app .main-section .top-card .search-box input {
    border : none ; 
    background-color: transparent ;
    color : var(--main-text);
    margin-left : 5px ;
}

.app .main-section .top-card .mode .slider {
    background-color: var(--sun-svg) ;
    border-radius: 12px ;
}

.app .main-section .top-card .mode input:checked + .slider {
    background-color: var(--moon-svg);
}

.app .main-section .top-card .mode .slider::before {
    content: "" ;
    position: absolute ;
    cursor: pointer;
    bottom : 2px ;
    right : 2px ;
    width : 20px ;
    height : 20px ;
    border-radius: 12px ;
    transition: 0.3s ease ;
    background-color: var(--main-shadow);
}

.app .main-section .top-card .mode input:checked + .slider::before {
    transform: translateX(-20px);
}

.app .main-section .top-card .mode svg.moon {
    color: var(--not-active-svg);
}

.app .main-section .top-card .mode svg.sun {
    color: var(--sun-svg);
}

.app .main-section .top-card .mode:has(input:checked) svg.moon {
    color : var(--moon-svg);
}

.app .main-section .top-card .mode:has(input:checked) svg.sun {
    color : var(--not-active-svg);
}

.app .main-section .top-card .action-box button.filter-action ,
.app .main-section .top-card .action-box button.add-action {
    display : flex ;
    justify-content: center ;
    align-items: center ;
    cursor: pointer;
    border : none ;
    transition: 0.3s ease ;
    border-radius: 50% ;
    background-color: var(--section-bg) ;
    box-shadow: 0px 3px 5px 1px var(--main-shadow);
}

.app .main-section .top-card .action-box .filter-action svg ,
.app .main-section .top-card .action-box .add-action svg {
    color : var(--main-text);
    background-color: transparent ;
}

.app .main-section .top-card .action-box button.filter-action:hover ,
.app .main-section .top-card .action-box button.add-action:hover {
    background-color: var(--main-shadow);
}

.app .main-section .top-card .action-box button.filter-action:active ,
.app .main-section .top-card .action-box button.add-action:active {
    transition: 0s;
    transform: scale(0.95);
    background-color: rgba(0, 0, 0, 0.603);
}

.app .main-section.add-note .top-card .action-box button.add-action {
    transform-origin: center ;
    transform: rotate(45deg);
    background-color: darkred ;
}

/* top card ^-^ */

.app .main-section .main-card .note {
    cursor: pointer;
    transition: all 0.3s ;
}

.app .main-section .main-card .note:hover {
    background-color: rgba(0, 0, 0, 0.158);
}

.app .main-section .main-card .note:active {
    transform: scale(0.95);
    background-color: rgba(0, 0, 0, 0.534);
}

.app .main-section .main-card .note .name {
    color : var(--main-text);
}

.app .main-section .main-card .note button.trash-btn ,
.app .main-section .main-card .note button.finaly-trash-btn ,
.app .main-section .main-card .note button.archive-btn ,
.app .main-section .main-card .note button.pinning-btn ,
.app .main-section .main-card .note button.restore-btn {
    cursor: pointer;
    transition: 0.3s ;
    color : var(--main-text);
    background-color: transparent ;
    border : none ;
}

.app .main-section .main-card .note button.trash-btn:hover svg ,
.app .main-section .main-card .note button.finaly-trash-btn:hover svg ,
.app .main-section .main-card .note button.archive-btn:hover svg ,
.app .main-section .main-card .note button.pinning-btn:hover svg ,
.app .main-section .main-card .note button.restore-btn:hover svg {
    cursor: pointer;
    transition: 0.3s ;
}

.app .main-section .main-card .note button.trash-btn:hover svg ,
.app .main-section .main-card .note button.finaly-trash-btn:hover svg {
    color : darkred ;
}

.app .main-section .main-card .note button.trash-btn:active ,
.app .main-section .main-card .note button.finaly-trash-btn:active ,
.app .main-section .main-card .note button.archive-btn:active  ,
.app .main-section .main-card .note button.pinning-btn:active ,
.app .main-section .main-card .note button.restore-btn:active {
    transition: 0s ;
    transform: scale(0.90);
}

.app .main-section .main-card .note button.archive-btn:hover svg {
    color : darkorange ;
}

.app .main-section .main-card .note button.pinning-btn:hover svg , 
.app .main-section .main-card .note button.restore-btn:hover svg {
    color : var(--pure-text);
}

.app .main-section .add-notes-space input {
    background-color: var(--card-bg);
    border-radius: 12px ;
    box-shadow: 0px 3px 5px 2px var(--main-shadow);
    color : var(--main-text);
}

.app .main-section .add-notes-space input::placeholder {
    color : var(--pure-text);
}

.app .main-section .add-notes-space .type-area {
    transition: all 0.3s ;
    background-color: var(--card-bg);
    color : var(--main-text);
    border-radius: 6px ;
}

.app .main-section.add-note .add-notes-space .type-area:hover {
    cursor: text ;
    background-color: rgba(0, 0, 0, 0.541);
}

.app .main-section .add-notes-space .type-area[contenteditable="true"] {
    Caret-Color: var(--svg-active);
    background-color: var(--section-bg);
}

.app .main-section .add-notes-space .type-area[contenteditable="true"] > div:focus {
    background-color: rgba(0, 0, 0, 0.541);
}

.app .main-section .add-notes-space .mini-title {
    color : var(--main-text);
    background-color: var(--section-bg);
    border-radius: 12px ;
    box-shadow: 0px 3px 5px 1px var(--main-shadow);
}

/* main section ^-^ */

.app .filter-menu {
    border-radius: 12px ;
    background-color: var(--section-bg);
    z-index: 100 ;
}

.app .filter-menu ul li {
    color : var(--main-text);
}

.app .filter-menu ul li button {
    cursor: pointer;
    border : none ;
    background-color: transparent ;
    color : var(--main-text);
}


.app .ui-overlay {
    display: none ;
    background-color: rgb(0, 0, 0 , 0.6);
    opacity: 0 ;
    pointer-events: none;
    transition: all 0.9s ease;
}

.app .ui-overlay.active {
    display: unset ;
    animation:  show-ui-overlay 0.9s forwards;
    pointer-events: auto;
}

@keyframes show-ui-overlay {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}