@media (max-width : 575px) {
    .app {
        position: relative;
        z-index: 1;
        display : grid ;
        grid-template-columns: 100% ;
        grid-template-rows: 1fr ;
        grid-template-areas: "main-section ";
        gap : 2% ;
        width : 100% ;
        height : 100vh ;
        overflow: hidden ;
    }

    /* app ^-^ */

    .app .humbarger-menu {
        display : block ;
        transition: all 1s  ;
        transform: translateX(-1000px);
        position: fixed ;
        bottom : 0 ;
        left : 0 ;
        width : 60% ;
        height : 90% ;
        z-index: 1000;
    }
    
    .app .humbarger-menu.open {
        transform: translateX(0px);
    }

    .app .humbarger-menu .left-section {
        display : flex ;
        flex-direction: column ;
        width : 100% ;
        height : 100% ;
        background-color: var(--section-bg);
        box-shadow: 0px 3px 5px 2px var(--main-shadow);
        border-top-left-radius: 0px ;
        border-bottom-left-radius: 0px ;
    }

    .app .humbarger-menu-btn {
        cursor: pointer;
        position: fixed ;
        width : max-content ;
        height : max-content ;
        display : block ;
        flex-direction: column ;
        left : 20px ;
        z-index: 1000 ;

        background-color: transparent ;
        border : none ;
    }

    .app .humbarger-menu-btn div {
        cursor: pointer;
        display : block ;
        width : 35px ;
        height : 4px ;
        margin-top : 3px ;

        transform-origin: center ;
        transition: all 0.3s;
        background-color: var(--main-text);
    }

    .app .humbarger-menu-btn div.first.open {
        transform: rotate(45deg) translateY(10px);
    }

    .app .humbarger-menu-btn div.middle.open {
        opacity: 0 ;
    }

    .app .humbarger-menu-btn div.last.open {
        transform: rotate(-45deg) translateY(-10px);
    }

    .app .humbarger-menu-btn.open div {
        background-color: #E53935  ;
    }


    /* humberger menu ^-^ */

    .app .main-section {
        position: relative;
        z-index: 10 ;
        display : grid ;
        flex-direction: column ;
        grid-area: main-section ;
        grid-template-columns: 1fr ;
        grid-template-rows: 10% 88% ;
        row-gap : 2% ;
        grid-template-areas: "top-card" "main-card";
        width : 100% ;
        max-width: 100% ;
        height : 100% ;
    }

    .app .main-section .top-card  {
        display : flex ;
        justify-self: end ;
        justify-content: space-between ;
        grid-area: top-card;
        width: calc(100% - 60px);
        max-width: 100%;
        box-sizing: border-box ;
        height : 100% ;
    }

    .app .main-section .top-card .search-box {
        width : 40% ;
        padding : 6px 10px  ;
    }

    .app .main-section .top-card .search-box input {
        font-size: 15px ;
    }

    .app .main-section .top-card .search-box svg {
        width : 18px ;
        height : 18px ;
    }

    .app .main-section .top-card .mode {
        transform: scale(0.85);
        margin-left :10px ;
    }

    /* top card ^-^ */

    .app .main-section.add-note .main-card .notes-space {
        width : 50% ;
    }

    .app .main-section.add-note .add-notes-space {
        width : 50%  ;
    }

    .app .main-section .add-notes-space input {
        border : none ;
        outline: none ;
        display: flex ;
        justify-self: center ;
        align-self: start ;
        margin-top : 30px ;
        padding : 6px 15px ;
        font-size: 15px ;
        font-weight: bold ;
        transition: 0.3s;
        transform: translateX(300px) scale(0.9);
    }

    .app .main-section.add-note .add-notes-space input {
        transform: translateX(0px);
    }

    .app .main-section .add-notes-space .mini-title {
        width : max-content ;
        height : max-content ;
        display : flex ;
        justify-self: center ;
        font-weight: bold ;
        margin-top : 18px ;
        padding : 3px 7.5px ;
        transition: 0.3s;
        transform: translateX(300px);
    }

    .app .main-section.add-note .add-notes-space .mini-title {
        transform: translateX(0px);
    }

    .app .main-section .main-card .notes-space .note .trash-btn ,
    .app .main-section .main-card .notes-space .note .finaly-trash-btn {
        margin : 0px ;
        width : max-content ;
    }
}

@media (min-width : 576px) and (max-width : 767px) {
    .app {
        position: relative;
        z-index: 1;
        display : grid ;
        grid-template-columns: 100% ;
        grid-template-rows: 1fr ;
        grid-template-areas: "main-section ";
        gap : 2% ;
        width : 100% ;
        height : 100vh ;
        overflow: hidden ;
    }

    /* app ^-^ */

    .app .humbarger-menu {
        display : block ;
        transition: all 1s  ;
        transform: translateX(-1000px);
        position: fixed ;
        bottom : 0 ;
        left : 0 ;
        width : 60% ;
        height : 90% ;
        z-index: 1000;
    }
    
    .app .humbarger-menu.open {
        transform: translateX(0px);
    }

    .app .humbarger-menu .left-section {
        display : flex ;
        flex-direction: column ;
        width : 100% ;
        height : 100% ;
        background-color: var(--section-bg);
        box-shadow: 0px 3px 5px 2px var(--main-shadow);
        border-top-left-radius: 0px ;
        border-bottom-left-radius: 0px ;
    }

    .app .humbarger-menu-btn {
        cursor: pointer;
        position: fixed ;
        width : max-content ;
        height : max-content ;
        display : block ;
        flex-direction: column ;
        left : 20px ;
        z-index: 1000 ;

        background-color: transparent ;
        border : none ;
    }

    .app .humbarger-menu-btn div {
        cursor: pointer;
        display : block ;
        width : 35px ;
        height : 4px ;
        margin-top : 3px ;

        transform-origin: center ;
        transition: all 0.3s;
        background-color: var(--main-text);
    }

    .app .humbarger-menu-btn div.first.open {
        transform: rotate(45deg) translateY(10px);
    }

    .app .humbarger-menu-btn div.middle.open {
        opacity: 0 ;
    }

    .app .humbarger-menu-btn div.last.open {
        transform: rotate(-45deg) translateY(-10px);
    }

    .app .humbarger-menu-btn.open div {
        background-color: #E53935  ;
    }


    /* humberger menu ^-^ */

    .app .main-section {
        position: relative;
        z-index: 10 ;
        display : grid ;
        flex-direction: column ;
        grid-area: main-section ;
        grid-template-columns: 1fr ;
        grid-template-rows: 10% 88% ;
        row-gap : 2% ;
        grid-template-areas: "top-card" "main-card";
        width : 100% ;
        max-width: 100% ;
        height : 100% ;
    }

    .app .main-section .top-card  {
        display : flex ;
        justify-self: end ;
        justify-content: space-between ;
        grid-area: top-card;
        width: calc(100% - 60px);
        max-width: 100%;
        box-sizing: border-box ;
        height : 100% ;
    }

    .app .main-section .top-card .search-box {
        width : 40% ;
        padding : 6px 10px  ;
    }

    .app .main-section .top-card .search-box input {
        font-size: 15px ;
    }

    .app .main-section .top-card .search-box svg {
        width : 18px ;
        height : 18px ;
    }

    .app .main-section .top-card .mode {
        transform: scale(0.85);
        margin-left :10px ;
    }

    /* top card ^-^ */

    .app .main-section.add-note .main-card .notes-space {
        width : 50% ;
    }

    .app .main-section.add-note .add-notes-space {
        width : 50%  ;
    }

    .app .main-section .add-notes-space input {
        border : none ;
        outline: none ;
        display: flex ;
        justify-self: center ;
        align-self: start ;
        margin-top : 30px ;
        padding : 6px 15px ;
        font-size: 15px ;
        font-weight: bold ;
        transition: 0.3s;
        transform: translateX(300px) scale(0.9);
    }

    .app .main-section.add-note .add-notes-space input {
        transform: translateX(0px);
    }

    .app .main-section .add-notes-space .mini-title {
        width : max-content ;
        height : max-content ;
        display : flex ;
        justify-self: center ;
        font-weight: bold ;
        margin-top : 18px ;
        padding : 3px 7.5px ;
        transition: 0.3s;
        transform: translateX(300px);
    }

    .app .main-section.add-note .add-notes-space .mini-title {
        transform: translateX(0px);
    }

    .app .main-section .main-card .notes-space .note .trash-btn ,
    .app .main-section .main-card .notes-space .note .finaly-trash-btn {
        margin : 0px ;
        width : max-content ;
    }
}

@media (min-width : 767px) and (max-width : 991px) {
    .app {
        position: relative;
        z-index: 1;
        display : grid ;
        grid-template-columns: 100% ;
        grid-template-rows: 1fr ;
        grid-template-areas: "main-section ";
        gap : 2% ;
        width : 100% ;
        height : 100vh ;
        overflow: hidden ;
    }

    /* app ^-^ */

    .app .humbarger-menu {
        display : block ;
        transition: all 1s  ;
        transform: translateX(-1000px);
        position: fixed ;
        bottom : 0 ;
        left : 0 ;
        width : 60% ;
        height : 90% ;
        z-index: 1000;
    }
    
    .app .humbarger-menu.open {
        transform: translateX(0px);
    }

    .app .humbarger-menu .left-section {
        display : flex ;
        flex-direction: column ;
        width : 100% ;
        height : 100% ;
        background-color: var(--section-bg);
        box-shadow: 0px 3px 5px 2px var(--main-shadow);
        border-top-left-radius: 0px ;
        border-bottom-left-radius: 0px ;
    }

    .app .humbarger-menu-btn {
        cursor: pointer;
        position: fixed ;
        width : max-content ;
        height : max-content ;
        display : block ;
        flex-direction: column ;
        left : 20px ;
        z-index: 1000 ;

        background-color: transparent ;
        border : none ;
    }

    .app .humbarger-menu-btn div {
        cursor: pointer;
        display : block ;
        width : 35px ;
        height : 4px ;
        margin-top : 3px ;

        transform-origin: center ;
        transition: all 0.3s;
        background-color: var(--main-text);
    }

    .app .humbarger-menu-btn div.first.open {
        transform: rotate(45deg) translateY(10px);
    }

    .app .humbarger-menu-btn div.middle.open {
        opacity: 0 ;
    }

    .app .humbarger-menu-btn div.last.open {
        transform: rotate(-45deg) translateY(-10px);
    }

    .app .humbarger-menu-btn.open div {
        background-color: #E53935  ;
    }


    /* humberger menu ^-^ */

    .app .main-section {
        position: relative;
        z-index: 10 ;
        display : grid ;
        flex-direction: column ;
        grid-area: main-section ;
        grid-template-columns: 1fr ;
        grid-template-rows: 10% 88% ;
        row-gap : 2% ;
        grid-template-areas: "top-card" "main-card";
        width : 100% ;
        max-width: 100% ;
        height : 100% ;
    }

    .app .main-section .top-card  {
        display : flex ;
        justify-self: end ;
        justify-content: space-between ;
        grid-area: top-card;
        width: calc(100% - 60px);
        max-width: 100%;
        box-sizing: border-box ;
        height : 100% ;
    }

    .app .main-section .top-card .search-box {
        width : 40% ;
        padding : 6px 10px  ;
    }

    .app .main-section .top-card .search-box input {
        font-size: 15px ;
    }

    .app .main-section .top-card .search-box svg {
        width : 18px ;
        height : 18px ;
    }

    .app .main-section .top-card .mode {
        transform: scale(0.85);
        margin-left :10px ;
    }

    /* top card ^-^ */

    .app .main-section.add-note .main-card .notes-space {
        width : 50% ;
    }

    .app .main-section.add-note .add-notes-space {
        width : 50%  ;
    }

    .app .main-section .add-notes-space input {
        border : none ;
        outline: none ;
        display: flex ;
        justify-self: center ;
        align-self: start ;
        margin-top : 30px ;
        padding : 6px 15px ;
        font-size: 15px ;
        font-weight: bold ;
        transition: 0.3s;
        transform: translateX(300px) scale(0.9);
    }

    .app .main-section.add-note .add-notes-space input {
        transform: translateX(0px);
    }

    .app .main-section .add-notes-space .mini-title {
        width : max-content ;
        height : max-content ;
        display : flex ;
        justify-self: center ;
        font-weight: bold ;
        margin-top : 18px ;
        padding : 3px 7.5px ;
        transition: 0.3s;
        transform: translateX(300px);
    }

    .app .main-section.add-note .add-notes-space .mini-title {
        transform: translateX(0px);
    }

    .app .main-section .main-card .notes-space .note .trash-btn ,
    .app .main-section .main-card .notes-space .note .finaly-trash-btn {
        margin : 0px ;
        width : max-content ;
    }
}